name: Update Remote

on:
  workflow_call:
    inputs:
      remote_url:
        type: string
        required: true
      pkg_name:
        type: string
        required: true
      max_versions:
        type: number
        default: 5
    secrets:
      PAT:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true

env:
  GIT_NAME: brewcoua-bot
  GIT_EMAIL: 151367391+brewcoua-bot@users.noreply.github.com

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    outputs:
      latest: ${{ steps.latest.outputs.latest }}
      needs_update: ${{ steps.check.outputs.needs_update }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - name: Get latest version
        id: latest
        run: |
          LATEST=$(curl -SsI '${{ inputs.remote_url }}' | awk '/location/ {print $2}' | awk -F/ '{print $NF}')
          echo "latest=${LATEST}"
          echo "latest=${LATEST}" >> "$GITHUB_OUTPUT"

      - name: Check if the latest version is already here
        id: check
        working-directory: ubuntu/${{ inputs.pkg_name }}
        run: |
          if [ -e "$GITHUB_WORKSPACE/ubuntu/${{ inputs.pkg_name }}/${LATEST}" ]; then
            echo "The latest version is already in the repo (ubuntu/${{ inputs.pkg_name }}/${LATEST})"
            echo "needs_update=false" >> "$GITHUB_OUTPUT"
          else
            echo "The latest version is not in the repo (ubuntu/${{ inputs.pkg_name }}/${LATEST})"
            echo "needs_update=true" >> "$GITHUB_OUTPUT"
          fi

  update:
    name: Update
    runs-on: ubuntu-latest
    needs: check
    if: needs.check.outputs.needs_update == 'true'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - name: Download the latest version
        env:
          LATEST: ${{ needs.check.outputs.latest }}
        run: |
          curl -SsL '${{ inputs.remote_url }}' -o "$GITHUB_WORKSPACE/ubuntu/${{ inputs.pkg_name }}/${LATEST}"

      - name: Clean up older versions
        working-directory: ubuntu/${{ inputs.pkg_name }}
        run: |
          ls -t | tail -n +$(( ${{ inputs.max_versions }} + 1 )) | xargs rm -rf

      - name: Import GPG
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update index
        working-directory: ubuntu
        run: |
          dpkg-scanpackages --multiversion . > Packages
          gzip -k -f Packages

          apt-ftparchive release . > Release
          gpg --default-key "${GIT_EMAIL}" -abs -o - Release > Release.gpg
          gpg --default-key "${GIT_EMAIL}" --clearsign -o - Release > InRelease

      - name: Push the latest version
        env:
          LATEST: ${{ needs.check.outputs.latest }}
        run: |
          git config --global user.name "${GIT_NAME}"
          git config --global user.email "${GIT_EMAIL}"

          git add .
          git commit -m "chore(deb): update ${{ inputs.pkg_name }} to ${LATEST}"
          git push
