name: Update

on:
  schedule: # Update every 2 hours
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  update:
    strategy:
      matrix:
        package:
          - [
              'discord',
              'https://discord.com/api/download?platform=linux&format=deb',
            ]
          - [
              'discord-canary',
              'https://discord.com/api/download/canary?platform=linux&format=deb',
            ]

    uses: ./.github/workflows/update_remote.yml
    with:
      remote_url: ${{ matrix.package[1] }}
      pkg_name: ${{ matrix.package[0] }}
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
    permissions:
      contents: write
      id-token: write
      pages: write
